body {
    margin: 0;
    background: rgba(188, 188, 188, 0.532);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    color: rgb(21, 21, 21);
}

form {
    width: clamp(300px, 50vw, 600px);
    padding: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.1),
            inset -2px -3px 3px 3px rgba(0, 0, 0, 0.3),
            inset 2px 3px 1px 1px rgba(255, 255, 255, 0.1),
            inset 3px 4px 4px 4px rgba(255, 255, 255, 0.3);
    margin: 2em;
}

input[type=text], input[type=email], input[list="locList"], input[type=number], input[type=tel] {
    border-radius: 4px;
    box-shadow: none !important;
}

input:focus {
    outline: none;
    border : violet 2px solid;
}

legend {
    font-size: smaller;
}

fieldset {
    border: violet 2px solid;
}

#submit, #save {
    margin: 4px;
    padding: 8px;
    font: inherit;
}

.buttons {
    display: flex;
}